[submodule "arkhamdb"]
	path = arkhamdb
	url = https://github.com/Kamalisk/arkhamdb.git
[submodule "arkhamdb-json-data"]
	path = arkhamdb-json-data
	url = https://github.com/Kamalisk/arkhamdb-json-data.git
